PORT=3004
MONGODB_URI=mongodb://localhost:27017/inventario_db

# Credenciales para el envío de correos (Nodemailer)

EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password_de_gmail

FRONTEND_URL=http://localhost:5173
JWT_SECRET=SUPER_SECRET