PORT=3004
MONGODB_URI=mongodb://mongodb:27017/auth_db
JWT_SECRET=tu_clave_secreta_aqui

# Credenciales para el envío de correos (Nodemailer)
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password_de_gmail